<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta data-name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <title style="text-align: center">Camera Dashboard</title>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div class="sidenav">
      <a href="{{ url_for('index')}}">Dashboard</a>
      <a href="{{ url_for('camera_list')}}">Camera List</a>
      <a href="{{ url_for('settings')}}">Settings</a>
      <a href="{{ url_for('log_out')}}">Log Out</a>
    </div>
        {% block content %}
        {% endblock %}
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>