<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta data-name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <title style="text-align: center">Camera Dashboard</title>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">
        <header>
            <div class="inner">
                <div class="burger"></div>
                <nav>
                    <a class="active" href="#">Dashboard</a>
                    <a href="#">About Us</a>
                    <a href="#">Our Work</a>
                    <a href="#">Get Involved</a>
                </nav>
                <a href="#" class="donate-link">Log</a>
            </div>
        </header>
        </div>
        {% block content %}
        {% endblock %}
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>