<!DOCTYPE html>
<html>
<head>
    <title>View Photos</title>
    <style>
        
    </style>
</head>
<body>
    <h1>View Photos</h1>
    <a href="{{ url_for('index') }}">Home</a> |
 
    <br><br>
    <div class="search-box">
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search a movie" />
      </div>
 
    <div class="images">
        {% for photo in photos %}
        <div class="image-box">
            {% if photo.thumbnail_data %}
                <a href="{{ url_for('view_photo', photo_id=photo.id) }}">
                    <img src="data:image/jpeg;base64,{{ photo.thumbnail_data|b64encode }}" alt="Thumbnail">
                </a>
            {% else %}
                No thumbnail available
            {% endif %}
        </div>
        {% endfor %}
</body>
</html>

