{%extends "base.html" %} 
{%block content%} 
<style>
    .button-container {
        display: inline-block;
        margin-top: 10px; /* Optional: Add spacing from above content */
    }

    .button-container form {
        display: inline-block;
        margin-right: 10px; /* Optional: Add spacing between buttons */
    }
</style>
 <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            var today = new Date();
            var beginDatePicker = document.getElementById('begin-date-picker');
            var endDatePicker = document.getElementById('end-date-picker');
            var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
            var todayFormatted = today.toLocaleDateString(undefined, options);
            beginDatePicker.value = todayFormatted;
            endDatePicker.value = todayFormatted;
        });

        function updateDatesInForms() {
            var today = new Date();
            var beginDate = today.toLocaleDateString(undefined, options);
            var endDate = today.toLocaleDateString(undefined, options);
            var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
            var todayFormatted = today.toLocaleDateString(undefined, options);
            beginDate = todayFormatted;
            endDate = todayFormatted;

            if(document.getElementById('begin-date-picker')?.value){
                beginDate = document.getElementById('begin-date-picker').value;
                endDate = document.getElementById('end-date-picker').value;
            }

            var albumForms = document.querySelectorAll('.album-form');

            albumForms.forEach(function (form) {
                form.querySelector('.begin-date-input').value = beginDate;
                form.querySelector('.end-date-input').value = endDate;
            });
        }
    </script> -->


</head>
<body>
    <!-- <ul>
        {% for album in albums %}
        <li>
            Album {{ album.album_id }}

<div class="button-container">

            <form class="album-form" action="{{ url_for('generate_timelapse', album_id=album.album_id) }}" method="post">
                <input type="hidden" class="begin-date-input" name="begin_date" value="">
                <input type="hidden" class="end-date-input" name="end_date" value="">
                <button type="button" onclick="updateDatesInForms(); form.submit();">Generate Timelapse</button>
            </form>
            <form class="album-form" action="{{ url_for('view_photos', album_id=album.album_id) }}" method="post">
                <input type="hidden" class="begin-date-input" name="begin_date" value="">
                <input type="hidden" class="end-date-input" name="end_date" value="">
                <button type="button" onclick="updateDatesInForms(); form.submit();">View Photos</button>
            </form>
            <form method="post" action="{{ url_for('latest_photo', album_id=album.album_id) }}">
                <button type="submit">Latest Photo</button>
            </form>
            <a href="{{ url_for('live_feed', album_id=album.album_id) }}">
                <button>Live Feed</button>
            </a>
</div>

            {% if generated_video_path %}
            <h3>Generated Timelapse Video</h3>

            <p>Video Path: {{ generated_video_path }}</p>
     
            <video controls width="800">
                <source src="{{ url_for('get_generated_video', video_filename=generated_video_path) }}" type="video/mp4">
                Your browser does not support the video tag.
                </video>
<br>
    <a href="{{ url_for('get_generated_video', video_filename=generated_video_path) }}" download>
        <button>Download Video</button>
    </a>

            {% endif %}
        </li>
        {% endfor %}
    </ul> -->

    <div id="grid">
        {% for camera in cameras %}
        <div>Cam
            <form method="post" action="{{ url_for('camera_view', album_id=camera.album) }}">
                <button type="submit">Camera</button>
            </form>   
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
