<!DOCTYPE html>
<html>
<head>
    <title>View All Photos</title>
</head>
<body>
    <h1>View All Photos</h1>
    <div id="grid">
    <ul>
        {% for photo in photos %}
        <div>
            <li>
                <h3>{{ photo.filename }}</h3>
                <!-- Use binary image data as image source -->
                <img src="data:image/jpeg;base64,{{ photo.image_data }}" alt="Photo">
                <p>Date Taken: {{ photo.date_taken }}</p>
            </li>
        </div>
        {% endfor %}
    </ul>
    </div>
    <a href="/">Go back to Home</a>
</body>
</html>
