.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
  }

  .sidenav a {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .main {
	margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
#grid { 
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2vw;
	}
  #grid > div {
	font-size: 5vw;
	padding: .5em;
	background-color: gray;
	border-style: solid;
	border-color: red;
	text-align: center;
  }

  div#template-left{
	padding-top: 100px;
	height: calc(100% - 10px);
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
  }
  div#template-right{
	margin-left: 50%;
	padding-left: 20px;
  }
  div#footer{
		padding-top: 10px;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
  }
  .responsive-table {
	li {
	  border-radius: 3px;
	  padding: 25px 30px;
	  display: flex;
	  justify-content: space-between;
	  margin-bottom: 25px;
	}
	.table-header {
	  background-color: gray;
	  font-size: 14px;
	  text-transform: uppercase;
	  letter-spacing: 0.03em;
	}
	.table-row {
	  padding:10px;
	  background-color: #ffffff;
	  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
	}
	.col-1 {
	  flex-basis: 10%;
	}
	.col-2 {
	  padding-left: 30px;
	  flex-basis: 20%;
	}
	.col-3 {
	  flex-basis: 25%;
	}
	.col-4 {
	  flex-basis: 25%;
	}
	
	@media all and (max-width: 767px) {
	  .table-header {
		display: none;
	  }
	  .table-row{
		
	  }
	  li {
		display: block;
	  }
	  .col {
		flex-basis: 100%;
	  }
	  .col {
		display: flex;
		padding: 10px 0;
		&:before {
		  color: #6C7A89;
		  padding-right: 10px;
		  content: attr(data-label);
		  flex-basis: 50%;
		  text-align: right;
		}
	  }
	}
  }